html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sqr-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hover-on {
    background-color: darkgrey;
}